.header-main {
  background-color: green; }

.site-title {
  margin-left: 40%; }
  @media screen and (max-width: 782px) {
    .site-title {
      margin-left: 0; } }
  .site-title a {
    width: 150px; }

#unesa-text {
  background-image: url("img/logo-text.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 130px;
  margin-top: 9px;
  margin-right: auto;
  margin-left: auto;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4)); }

/* HEADER */
.header-main {
  height: 48px; }

/* Header Nav */
.primary-navigation {
  transition: all 0.5s;
  clear: both; }

.primary-navigation ul a {
  transition: all 0.2s; }
  .primary-navigation ul a:hover {
    background-color: #24890d;
    color: #fff; }

.primary-navigation.toggled-on {
  background-color: rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 700px) {
    .primary-navigation.toggled-on {
      padding: 20px;
      border-radius: 0px 0px 5px 5px; }
      .primary-navigation.toggled-on li {
        padding: 8px;
        font-size: 16px; } }

#page {
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 1080px) {
  #primary {
    max-width: 1500px; } }

.csgridcontainer {
  width: 90%;
  height: 100%;
  float: left;
  text-align: center;
  padding-left: 10%;
  margin-bottom: 30px; }
  @media screen and (max-width: 400px) {
    .csgridcontainer {
      max-width: 100%;
      padding: 0 0;
      float: none;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .csgridcontainer .csgrid {
        height: 200px;
        width: 230px;
        margin-left: 15%; }
        .csgridcontainer .csgrid h2 {
          display: none; } }

.csgrid {
  display: inline-block;
  height: 165px;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  transition: all 0.5s;
  overflow: hidden;
  padding-top: 15px; }
  .csgrid h2 {
    opacity: 0;
    transition: all 0.5s; }
  .csgrid:hover {
    border: 1px solid black;
    border-radius: 50%; }
    .csgrid:hover img {
      opacity: 0; }
    .csgrid:hover .one-line {
      margin-top: -95px;
      font-size: 1.6em;
      opacity: 1; }
    .csgrid:hover .two-line {
      margin-top: -105px;
      opacity: 1; }
    .csgrid:hover .three-line {
      margin-top: -115px;
      opacity: 1; }
    .csgrid:hover .four-line {
      margin-top: -125px;
      opacity: 1; }
  .csgrid img {
    height: 100%;
    width: 100%;
    opacity: 1;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.7s;
    margin-top: -8px; }

#secondary {
  color: white;
  text-align: center; }
  @media screen and (min-width: 1008px) and (max-width: 1079px) {
    #secondary {
      padding-left: 10px;
      padding-right: 10px;
      width: 162px; } }

@media screen and (max-width: 1007px) {
  .unesa-sidebar {
    display: none; }

  .unesa-sidebar-text {
    display: none; }

  .nucleus-sidebar,
  .tune-sidebar,
  .uni4me-sidebar {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px; } }
.unesa-sidebar {
  height: 152px;
  width: 160px;
  margin-top: 15px;
  text-align: center;
  background-image: url("img/logo-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
  text-align: center;
  -webkit-filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.4)); }
  .unesa-sidebar:hover {
    transform: rotate(360deg); }
  .unesa-sidebar:hover + .unesa-sidebar-text {
    opacity: 1; }

.unesa-sidebar-text {
  display: none;
  position: absolute;
  height: 40px;
  width: 150px;
  margin-left: 5px;
  margin-top: -97px;
  background-image: url("img/logo-text.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  -webkit-filter: drop-shadow(5px 5px 8px #000);
  transition: all 1s ease; }
  .unesa-sidebar-text:hover {
    opacity: 1; }
  .unesa-sidebar-text:hover + .unesa-sidebar {
    transform: rotate(360deg); }

.nucleus-sidebar {
  height: 50px;
  margin-top: 40px;
  text-align: center; }
  .nucleus-sidebar .nucleus-logo {
    height: 100%;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/nucleus-logo-white.png");
    background-size: contain;
    background-repeat: no-repeat; }

.tune-sidebar {
  height: 60px;
  margin-top: 40px;
  text-align: center; }
  .tune-sidebar .tune-logo {
    height: 100%;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/tune-logo-white-small.png");
    background-size: contain;
    background-repeat: no-repeat; }

.uni4me-sidebar {
  height: 80px;
  margin-top: 40px;
  text-align: center; }
  .uni4me-sidebar .uni4me-logo {
    height: 100%;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/uni-4-me-logo.png");
    background-size: contain;
    background-repeat: no-repeat; }

/* Fixing left sidebar extention color change */
.hfeed:before {
  background-color: #333; }

.site-footer {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto; }
  .site-footer p {
    font-size: 16px;
    text-align: center; }
