
// Styles for Clubs and Societies grid

.csgridcontainer {
  width: 90%;
  height: 100%;
  float: left;
  text-align: center;
  padding-left: 10%;
  margin-bottom: 30px;
  @media screen and (max-width: 400px) {
    max-width: 100%;
    padding: 0 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .csgrid {
      height: 200px;
      width: 230px;
      margin-left: 15%;
      h2 {
        display: none;
      }

    //backgrounds not applying since importing Angular

      // .two-line {
      //   opacity: 1;
      //   padding: 10px 0 10px 0;
      //   margin-top: -90px;
      //   background-color: rgba(250, 250, 250, 1);
      // }
      // .one-line {
      //   opacity: 1;
      //   padding: 10px 0 10px 0;
      //   margin-top: -55px;
      //   background-color: rgba(250, 250, 250, 1);
      // }
      // .three-line {
      //   opacity: 1;
      //   padding: 10px 0 10px 0;
      //   margin-top: -115px;
      //   background-color: rgba(250, 250, 250, 1);
      // }
      // .four-line {
      //   opacity: 1;
      //   padding: 10px 0 10px 0;
      //   margin-top: -115px;
      //   background-color: rgba(250, 250, 250, 1);
      // }
    }
  }
}

.csgrid {
  display: inline-block;
  height: 165px;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  float: left;
  transition: all 0.5s;
  overflow: hidden;
  padding-top: 15px;
  h2 {
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover {
    img {
      opacity: 0;
    }
    .one-line {
      margin-top: -95px;
      font-size: 1.6em;
      opacity: 1;
    }
    .two-line {
      margin-top: -105px;
      opacity: 1;
    }
    .three-line {
      margin-top: -115px;
      opacity: 1;
    }
    .four-line {
      margin-top: -125px;
      opacity: 1;
    }
    border: 1px solid black;
    border-radius: 50%;
  }
  img {
    height: 100%;
    width: 100%;
    opacity: 1;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.7s;
    margin-top: -8px;
  }
}
