.header-main {
	background-color: green;
}

// #unesa-circle {
// 	height: 45px;
// 	width: 40px;
// 	position: relative;
// 	background-image: url("img/logo-circle.png");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	top: 6px;
// 	float: left;
// }
.site-title {
		margin-left: 40%;
		@media screen and (max-width: 782px) {
			margin-left: 0;
		}
}

#unesa-text {
	background-image: url("img/logo-text.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	width: 130px;
	// float: left;
	margin-top: 12px;
	margin-right: auto;
}







/* HEADER */

.header-main {
	height: 52px;
}


/* Header Nav */

.primary-navigation {
	clear: both;
}

.primary-navigation.toggled-on {
	background-color: #333;

}

.primary-navigation ul a {
	transition: all 0.2s;
	&:hover {
	background-color: #24890d;
	color: #fff;
	}
}
