.header-main {
	background-color: green;
}

// #unesa-circle {
// 	height: 45px;
// 	width: 40px;
// 	position: relative;
// 	background-image: url("img/logo-circle.png");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	top: 6px;
// 	float: left;
// }
.site-title {
		margin-left: 40%;
		@media screen and (max-width: 782px) {
			margin-left: 0;
		}
		a {
			width: 150px;
		}
}

#unesa-text {
	background-image: url("img/logo-text.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	width: 130px;
	// float: left;
	margin-top: 9px;
	margin-right: auto;
	margin-left: auto;
	-webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
}







/* HEADER */

.header-main {
	height: 48px;
}


/* Header Nav */

.primary-navigation {
	transition: all 0.5s;
	clear: both;
}

.primary-navigation ul a {
	transition: all 0.2s;
	&:hover {
	background-color: #24890d;
	color: #fff;
	}
}

// Nav for small screens

.primary-navigation.toggled-on {
	background-color: rgba(0, 0, 0, 0.8);
	@media screen and (max-width: 700px) {
		padding: 20px;
		border-radius: 0px 0px 5px 5px;
		li {
			padding: 8px;
			font-size: 16px;
		}
	}
}
